<div class="box">
	<div class="header">
		<h2>News</h2>
	<!--End .header-->
	</div>
	<div class="content padding">
    <div class="two_third">
     <p> (2/3) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo mauris, hendrerit aliquam sagittis et, vulputate quis nibh. Praesent porta lorem eu magna ultricies scelerisque eget quis purus. Vestibulum condimentum sagittis arcu, eu fermentum turpis mollis viverra. Morbi at orci elit, eget tempus metus. Sed et eros lacus, non commodo magna.</p>
    </div>
    <!--1/3-->
    <div class="one_third last">
     <p> (1/3) Donec <strong>metus leo, elementum</strong> at ultrices ac, dapibus at justo. Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et.</p>
    </div>
	</div>
</div>

