<div id="login" class="container"> 
	<img class="logo" src="/images/logo.png" alt="logo" />
	<!--Login-->
	<div class="box">
		<div class="header">
			<h2></h2>
		</div>
		<div class="content">
			<div class="tabs"> 
				<!--navigation-->
				<ul class="navigation clearfix">
					<li> <a class="current" href="#tab1">Login</a></li>
					<li><a href="#tab3">Recover Password</a></li>
				</ul>
				<!--tab1-->
				<div class="tab" id="tab1">
					<p>
Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo.
					</p>
					<%= form_tag session_path do %>
					<form action="index.html" method="post" class="form">
						<p class="field">
							<label>Username </label>
							<%= text_field_tag 'username', @login, :class => "large" %>
						</p>
						<p class="field">
							<label for="username">Password </label>
							<input id="username" name="password" class="large" type="password">
						</p>
						<p class="field">
							<button type="submit">Login</button>
						</p>
					<% end %>
				</div>
				<!--tab3-->
				<div class="tab" id="tab3">
					<form action="#" method="post" class="form">
						<p>Your password will be sent to your email account.</p>
						<p class="field">
							<label for="username">Email </label>
							<input id="username" name="username" class="large">
						</p>
						<p class="field">
							<button type="submit">Submit</button>
						</p>
					</form>
				</div>

				<!--End .tabs-->
			</div>    	
			<!--End .content-->	
		</div>
		<!--End .box-->
	</div>